body{

    background:#f5f5f5;

    font-family:Arial, Helvetica, sans-serif;

}

.navbar{

    background:#2E8B57;

}

.navbar-brand{

    color:white;

    font-weight:bold;

}

.nav-link{

    color:white;

}

.banner{

    padding:80px;

    background:#2E8B57;

    color:white;

    text-align:center;

}

.card{

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

footer{

    background:#2E8B57;

    color:white;

    text-align:center;

    padding:20px;

}