body{

    background:#f5f5f5;

    font-family:Arial, Helvetica, sans-serif;

}

.navbar{

    background:#2E8B57;

}

.navbar-brand{

    color:white;

    font-weight:bold;

}

.nav-link{

    color:white;

}

.hero{

    padding:100px 20px;

    background:linear-gradient(135deg,#2E8B57,#3CB371);

    color:white;

    text-align:center;

}

.card{

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

footer{

    background:#2E8B57;

    color:white;

    text-align:center;

    padding:20px;

}

.card {

    border: none;

    border-radius: 15px;

    transition: .3s;

}

.card:hover {

    transform: translateY(-8px);

}

.card img {

    height: 220px;

    object-fit: cover;

}

.badge {

    font-size: .9rem;

}

.card{

    transition:.3s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 12px 25px rgba(0,0,0,.15);

}

.card h3{

    font-size:60px;

}

.card p{

    min-height:60px;

}